*{
    font-family: Raleway, Serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    border-left: 1px solid gray;
    font-family: Raleway, serif;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
footer{
    padding: 4px;
    background-color: #333;
    color:white;
    font-size: 9px;
}
span{
    font-size: 17px;
}
