#header{
  position: absolute;
  margin: auto;
  height: 50px;
  width: 1334px;
  background-color: #00ff7f;
  clear: both;
  border-bottom: 3px solid black;
}
#header ul{
  display: inline;
  list-style: none;
}
#header ul li a{
  text-decoration: none;
  float: right;
  display: block;
  margin-right: 20px;
  font-family: Helvetica;
  border-left: 2px solid black;

}
#header ul li a:hover{
  color: white;
}
.footer{
  float: left;
  height: 600px;
  width: 300px;
  background-color: #d9d9d9;
}
.first{
  position: absolute;
  margin-left: 56px;
  text-align: center;
  width: 15%;
  height: 20px;
  background-color: #00ff7f;
  margin-top: 15px;
  font-family: helvetica;
}
img {
  position: relative;
  width: 30px;
  margin-left: -290px;
}
div > img{
  position: ;
  width: 72%;
  height:550px;
  margin-left: 50px;
  float: right;
  margin-right: -2px;
  margin-top: -2px;
}
#second{
  position: relative;
  width: 1334px;
  height: 600px;
  background-color: #ccffcc;
  clear: both;
  border-top: 3px solid black;
  
}
h3{
  position: relative;
  float: right;
  margin-right: 182px;
  font-family: arial`;
}
div > p{
  position: absolute;
  float: right;
  margin-top: 60px
}
#fourth{
  height: 450px;
  background-color: black;
  width: 3px;
  margin-left: -30px;
  float: left;
}
#fifth{
  margin-right: -297px;
  height: 500px;
  width: 440px;
  background-color: black;
  margin-top: 60px;
  float: right;
  background-color: #ccffcc;
}
