
/*This is our stylesheet for the CSS on our website*/

div {
  display: block;
  margin: auto;
  text-align: center;
  border: none;
}

div p{
  margin: auto;
  border: 2px solid black;
  text-align: center;
  font-size: 17px;
  border-radius: 8px;
  width: 160px;
  background: #70FFFF
}
  
}
p {
  text-align: center;
  border: solid 2px;
  border-left: 0px;
  border-right: 0px;
}

p p {
  text-align: center;
  border: solid 2px;
  border-left: 0px;
  border-right: 0px;
}

p1 {
  text-align: center;
  font-size: 19px;
}

div div div {
  display: block;
  margin: auto;
  width: 10px;
}
