header{
  text-align: center;
  background-color: #e9e9e9;
  border-radius: 5px;
  box-shadow: -5px 5px 0 #999999;
}
header nav ul{
  list-style: none;
  padding-bottom: 35px;
  padding-top: 20px;

}
header nav li{
  display: inline;
  margin-right: 10px;
  font-size: 17px;
}
header ul li a{
  text-decoration: none;
  color: #4d4d4d;
  font-family: Helvetica;
  text-transform: uppercase;
}
header ul li a:hover{
  color: #003166;
  text-decoration: underline;
}
header .top h3{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #003366;
  box-shadow: inset 5px -5px 0 #001933;
}
h3{
  color: white;
  font-family: Helvetica;
  font-weight: 200;
}
.img1{
  position: absolute;
  display: block;
  margin-left: 0px;
}
.second{
  max-width: 700px;
  margin: auto;
}
.first{
  margin-top: 40px;
}
.second .head{
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  width: 133px;
  padding: 5px;
}
.second p{
  display: block;
  font-family: arial;
  font-size: 17px;
  }
.second ul li{
  font-family: Helvetica;
}
#footer p{
  text-align: center;
  font-size: 14px;
}
